sudo: required
language: bash
services:
  - docker

env:
  global:
    - secure: HpiL0jkQSECG7pDDxg8wm6agj8kAoWb7RKWklbWsSGGJha8MKBKBc0f/BBTM3GrUOEp9SbQh+0Sec9+gmYNXQfCYNT/InAeGyfC4nR+lAQ+tbPaYRJLxMCMEObauTg93NgtFhj2LPyVGggWVIGyXWWsYagmEsoCnvAQlR24W6fkp0nrJg/PUYORx30Jw4wZ3IjtikZxRD9sVUae7W2eAUE2US1ESIVO7RVGhmoANUK3FjbN6qvv3hYB+kM7WXrROZSEMrtti8zbF8f4ZIxxNqHQ6poLnIYVb0L7OR70tWrU1wS7FrXtJFpRyOFf+t0RxlFhnIKID9awwj90P5RalR2XESeWzA5VKy/rZqe1lDsvTJ3lu27xC0UqDvz/dnHbUvjgnfnH+IZxCVhPh6MvwWLR+9elfiyErXREc5UX3/fPanEu5OD1Pdt7HQhVHdmG9zQN+lZisrLI1EFJo2YGQRMLDWgFg0pOQm5MFCQ0iKoheS0w3k6Po4gF4NOGfiGM3chFNNXGR457aj8iQYWTumEPnWncCJ6dYWWXlM1iUFvkHv7KFHkNm42Q6hvcAuoyi7xZwHKkUq6m/Msh3nrE1/YAP94hUPgP2DnWmUhQZ/kD6X6/vMkRs+PJ9fzZVemXC/aIoctE3vP+tjLDyxXOr+qm1ECFfvpNjjRxidx3lSmw=
    - COMMIT_AUTHOR_MAIL: "doc-team@suse.com"
    # If you want to see a list of installed packages in the doc-ci docker container, set to TRUE
    - LIST_PACKAGES=0
    # List branches that should be published on GitHub pages, omit the maintenance/ prefix
    - PUBLISH_PRODUCTS="develop"

before_install:
  - echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST" >> env.list
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH" >> env.list
  - echo "SOURCE_BRANCH=$SOURCE_BRANCH" >> env.list
  - echo "TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG" >> env.list
  - echo "LIST_PACKAGES=$LIST_PACKAGES" >> env.list
  - echo "PUBLISH_PRODUCTS=\"$PUBLISH_PRODUCTS\"" >> env.list
  - echo "ENCRYPTED_PRIVKEY_SECRET=$ENCRYPTED_PRIVKEY_SECRET" >> env.list
  - echo "TRAVIS_COMMIT=$TRAVIS_COMMIT" >> env.list
  - wget https://raw.githubusercontent.com/openSUSE/doc-ci/develop/travis/travis.sh
  - ls
  - echo "Building docker image"
  - docker build -t sle-doc-image .

script:
  - docker run --rm -it sle-doc-image /bin/bash -c '/bin/bash travis.sh'

notifications:
  email:
    on_success: change
    on_failure: always

