language: bash
dist: xenial
services:
  - docker

env:
  global:
    - secure: eGRVxeM7zMVK+0JcrAGGt55rpYsTLdxo57pSisEAxaDgwP6wgRMEPMd6jcu773dv7MtWgycbc+ITbeiO9O3cUII7O+r/NcdV4/enOBSsl6/Fx3oSFYnGYVmVwK8cjlYv+FS18O8k/IGyHlUIe4N8IzoZNgvrEThTQ2gdzY5EE4U=

before_install:
  - echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST" >> env.list
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH" >> env.list
  - echo "TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG" >> env.list
  - echo "ENCRYPTED_PRIVKEY_SECRET=$ENCRYPTED_PRIVKEY_SECRET" >> env.list
  - echo "TRAVIS_COMMIT=$TRAVIS_COMMIT" >> env.list
  - wget https://raw.githubusercontent.com/openSUSE/doc-ci/master/travis/travis.sh

script:
  - docker run --rm -it --volume ${PWD}:/usr/src/app --workdir /usr/src/app susedoc/ci:latest /bin/bash -c '/bin/bash travis.sh'

notifications:
  email:
    on_success: change
    on_failure: always
